* {
  user-select: none;
}
.bodyContact {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

.contact {
  width: 1200px;
  color: black;
  display: flex;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.contact .leftSide {
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact .leftSide a {
  display: flex;
  color: #000;
  font-size: 25px;
  margin: 15px;
  text-decoration: none;
  align-items: center;
}
.contact .leftSide a:hover {
  text-decoration: underline 2px;
  transition: 0.3s;
}
.contact .leftSide a:hover .icons {
  border-style: groove;
}

.contact .leftSide svg {
  color: #fff;
  font-size: 30px;
  margin-right: 30px;
}
.contact .icons {
  width: 40px;
  height: 40px;
  padding: 5px;
  fill: black;
  border-radius: 50%;
  border: 2px solid black;
  border-style: dotted;
}

.contact .rightSide {
  padding: 10px 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  font-size: 35px;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  background: transparent;
  height: 25px;
  width: 350px;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
}
select {
  width: 350px !important;
  color: black !important;
  outline: none !important;
  border: 2px solid !important;
}

form textarea {
  margin-top: 5px;
  width: 350px;
  height: 70px;
  border: none;
  background: transparent;
  border: 1px solid #121619;
  padding: 5px;
  color: black;
  resize: none;
}
input::placeholder,
textarea::placeholder {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin: 10px 0px;
  color: black;
}

form button {
  margin: 20px 0px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}
form button:hover {
  color: black;
  background-color: white;
  border: 4px solid;
  border-style: groove;
  transition: 0.3s;
}

.region,
.district {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  background: transparent;
  color: white;
  border: 2px solid #000;
  border-radius: 5px;
}
.region option,
.district option {
  color: black;
}

form-control__file {
  background: transparent;
}

@media screen and (max-width: 870px) {
  .contact {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 5px;
  }

  .contact .leftSide {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
  }
  .contact .leftSide a {
    margin: 0;
    width: 50px;
  }
  .contact .leftSide .account {
    display: none;
  }
  .contact .rightSide {
    margin: 0;
    padding: 10px;
  }

  .contact .rightSide input,
  .contact .rightSide select,
  form textarea {
    width: 300px !important;
  }
}
