.footer {
  background-color: #00394f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-position: fixed;
 }
.socialMedia {
  padding: 5px 10px;
  text-align: center;
  margin-top: 5px;
}
.footer a {
  color: #fff;
  text-decoration: none;
  padding: 3px;
  margin: 3px;
}
.footer a:hover {
  text-decoration: underline 3px solid #00394fd0;
  transition: 0.3s;
}

.footer p {
  padding: 5px;
  margin: 5px;
  color: white;
  text-align: center;
}
