.newsBarBody {
  width: 100%;
  height: max-content;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.411);
  backdrop-filter: blur(7px);
}

.newsContainer {
  width: 1300px;
  height: 95%;
  font-family: Arial;
  text-align: center;
}

.newsContainer h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 3px;
  text-transform: uppercase;
}

.newsContainer .news {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.news1 {
  /* width: min-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news1 img {
  width: 400px;
  /* height: 200px; */
  border: 2px solid;
}

.news1 h2 {
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
}

.news1 h3 {
  width: 400px;
  font-size: 20px;
}

.news1 a {
  font-size: 20px;
  text-decoration: none;
  color: red;
}

.carousel-control-next,
.carousel-control-prev {
  width: 3%;
}
.carousel-control-next {
  right: -35px;
}
.carousel-control-prev {
  left: -35px;
}
.carousel-indicators {
  bottom: -195px;
}

@media screen and (max-width: 1370px) {
  .newsContainer h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  .newsBarBody {
    height: max-content;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }
  .news1 {
    margin-bottom: 40px;
  }

  .news1 img {
    width: 200px;
  }

  .news1 h2 {
    font-size: 150%;
    font-weight: bold;
  }
  .news1 h3 {
    font-size: 18px;
    width: 95%;
  }

  .carousel-indicators {
    display: none;
  }
}

@media screen and (max-width: 665px) {
  .newsContainer h1 {
    font-size: 1.7em;
  }
  .newsContainer .news {
    grid-template-columns: repeat(1, auto) !important;
  }
}
