.bodyTable {
  height: max-content;
  background-image: url(../assets/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tableCont {
  height: max-content;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  backdrop-filter: blur(10px) contrast(70%);
}

.tableNav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.selectStatus,
.searchInp {
  padding: 7px;
  outline: none;
  border: 1px solid !important;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.5);
}
.searchInp::placeholder {
  color: gray;
}

.table {
  width: 80%;
  height: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid;
  border-collapse: separate;
}

td,
th {
  border-radius: 5px;
  border: 1px solid;
  text-align: center;
  padding: 5px 0px;
}

tr {
  background-color: rgba(231, 231, 231, 0.612);
}

th {
  background-color: rgba(219, 219, 219, 0.612);
  border-bottom: 2px solid;
  border-bottom-style: groove;
}

@media screen and (max-width: 870px) {
  .tableNav {
    width: 90%;
  }

  .table {
    width: 90%;
    font-size: 10px;
  }

  .selectStatus,
  .searchInp {
    width: 150px !important;
    height: 20px !important;
    padding: 1px 3px !important;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
  }
  .selectStatus,
  .searchInp {
    font-size: 10px;
  }
  td,
  th {
    width: 50px;
    padding: 1px;
    border-radius: 3px;
  }

  .more {
    display: none;
  }
}
